<header class="navbar navbar-fixed-top navbar-inverse bg-dark">
  <div class="container">
    <%= link_to "sample app", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right flex-row gap-3">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", helf_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
  </div>
</header>
